.cards {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

footer {
  color: white;
  font-weight: bold;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282a36;
}
